@font-face {
  font-family: 'OpenSans-Bold';
  src: url(/font/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(/font/OpenSans/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(/font/OpenSans/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
.center {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu {
  position: fixed;
  z-index: 12;
  top: 0;
  height: 100px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 7px rgba(17, 17, 17, 0.15);
  box-shadow: 0px 4px 7px rgba(17, 17, 17, 0.15);
}
.menu ul {
  display: inline-block;
}
.menu ul li {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
}
.menu ul li a {
  color: #555555;
  text-decoration: none;
  font-size: 14px;
  font-family: 'OpenSans-Semibold';
}
.menu .logo {
  position: relative;
  padding: 0 125px;
}
.menu .logo img {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu .active,
.menu li:hover {
  position: relative;
}
.menu .active a,
.menu li:hover a {
  color: #5b6ceb;
}
.menu .active a:after,
.menu li:hover a:after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 30px;
  background: #5b6ceb;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.trial {
  margin-top: 100px;
  min-height: 700px;
  width: 100%;
  background-image: url(../img/trial-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.trial .trial_cotent {
  display: inline-block;
}
.trial .trial__text {
  color: #fff;
  float: right;
  width: 430px;
}
.trial .trial__text h1 {
  font-family: 'OpenSans-Bold';
  font-size: 48px;
}
.trial .trial__text p {
  font-family: "Freestyle Script";
  font-size: 40px;
  width: 300px;
  margin-top: 50px;
}
.trial .trial__form {
  display: block;
  float: right;
  width: 300px;
  height: 390px;
  padding: 40px 35px;
  margin-right: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 7px rgba(17, 17, 17, 0.15);
  box-shadow: 4px 4px 7px rgba(17, 17, 17, 0.15);
}
.trial .trial__form span {
  color: #5b6ceb;
  font-size: 26px;
  font-family: 'OpenSans-Semibold';
  margin-bottom: 30px;
  display: block;
}
.trial .trial__form li {
  list-style-type: none;
  padding-bottom: 20px;
}
.trial .trial__form li input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f2f2f2;
}
.trial .trial__form li input[type="submit"] {
  float: right;
  margin-top: 10px;
  padding: 13px 60px;
  color: #fff;
  background: #5b6ceb;
  border: none;
  border-radius: 5px;
  font-family: 'OpenSans-Bold';
  font-size: 16px;
  cursor: pointer;
}
.trial .trial__form li select {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
}
.our {
  min-height: 1000px;
  width: 100%;
}
.our .our_cotent {
  max-width: 1245px;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.our .our__title {
  font-family: 'OpenSans-Bold';
  font-size: 30px;
  color: #5b6ceb;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
.our .our__caption {
  text-align: center;
  display: block;
  color: #555555;
  font-size: 40px;
  font-family: "Freestyle Script";
  margin-bottom: 50px;
  width: 100%;
}
.our .our__list {
  width: 590px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 15px 5px rgba(17, 17, 17, 0.1);
  margin: 15px;
  float: left;
}
.our .our__list img {
  float: left;
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.our .our__list .our__list_info {
  width: 50%;
  padding: 45px 30px;
  box-sizing: border-box;
  float: left;
  color: #555555;
}
.our .our__list .our__list-title {
  font-size: 20px;
  display: block;
  font-family: 'OpenSans-Bold';
  text-transform: uppercase;
}
.our .our__list .our__list-text {
  font-size: 14px;
  padding: 30px 0;
  font-family: 'OpenSans-Regular';
}
.our .our__list .our__list-caption {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color: #999999;
}
.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.gallery .gallery__list {
  width: 25%;
  height: 15vw;
  position: relative;
  cursor: pointer;
}
.gallery .gallery__list_img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.gallery .gallery__list-hover {
  position: absolute;
  background-color: rgba(91, 108, 235, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gallery .gallery__list-hover img {
  width: 40px;
}
.gallery .gallery__list:hover .gallery__list-hover {
  opacity: 1;
  transition: .8s;
}
.about-us {
  width: 100%;
  min-height: 550px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-us .about-us__info {
  max-width: 450px;
  margin-right: 10%;
}
.about-us .about-us__info .info__title {
  font-size: 30px;
  font-family: 'OpenSans-Bold';
  color: #5b6ceb;
}
.about-us .about-us__info .info__text {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color: #555555;
  margin-top: 20px;
}
.about-us .about-us__slider {
  width: 576px;
  height: 222px;
  background: red;
}
.features {
  width: 100%;
  min-height: 800px;
  background-image: url(../img/features_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.features .features_content {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.features .features__item {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
}
.features .features__item .item__img {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.features .features__item .item__img img {
  width: 40px;
}
.features .features__item .item__title {
  font-family: 'OpenSans-Bold';
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}
.features .features__item .item__text {
  font-size: 16px;
  font-family: 'OpenSans-Regular';
}
.prices {
  min-height: 1150px;
  width: 100%;
  background-image: url(../img/prices_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.prices .prices_content {
  display: inline-block;
}
.prices .prices__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 30px 10px;
}
.prices .prices__list .prices__list-item {
  width: 300px;
  height: 490px;
  margin: 10px;
  box-shadow: 0px 0px 20px 5px rgba(17, 17, 17, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.prices .prices__list .prices__list-item .list-item__header {
  background-color: #5b6ceb;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding-top: 25px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'OpenSans-Bold';
  text-transform: uppercase;
}
.prices .prices__list .prices__list-item .list-item__header span {
  font-size: 67px;
  position: relative;
  padding-left: 50px;
}
.prices .prices__list .prices__list-item .list-item__header span:before {
  content: "$";
  font-size: 40px;
  position: absolute;
  left: 15px;
  top: 22px;
}
.prices .prices__list .prices__list-item .list-item__body {
  color: #555555;
  font-family: 'OpenSans-Regular';
  padding: 45px 50px;
  box-sizing: border-box;
}
.prices .prices__list .prices__list-item .list-item__body ul {
  list-style-type: none;
}
.prices .prices__list .prices__list-item .list-item__body li {
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}
.prices .prices__list .prices__list-item .list-item__body li:before {
  content: "";
  width: 100px;
  position: absolute;
  height: 1px;
  background-color: #d7d7d7;
  bottom: 15px;
  left: calc(50% - 50px);
}
.prices .prices__list .prices__list-item .list-item__body li:last-child:before {
  background-color: transparent;
}
.prices .prices__list .prices__list-item .list-item__body_button {
  background: #5b6ceb;
  color: #fff;
  font-size: 18px;
  font-family: 'OpenSans-Semibold';
  text-align: center;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 170px;
  margin: 25px auto;
  padding: 15px 0;
  border-radius: 25px;
}
.prices .prices__list .prices__list-item .list-item__body_button:hover {
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 4px #555555;
}
.prices .prices__slider {
  width: 100%;
  min-height: 260px;
  background: red;
  margin-top: 60px;
}
.footer {
  color: #fff;
  width: 100%;
  height: 550px;
  background: #5b6ceb;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
}
.footer .footer_content {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.footer .footer_title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'OpenSans-Bold';
  display: block;
  margin-bottom: 35px;
}
.footer .footer__about {
  min-width: 320px;
  width: 50%;
  box-sizing: border-box;
  padding: 30px 10px;
}
.footer .footer__about p {
  width: 80%;
}
.footer .footer__about .footer__about_link {
  margin-top: 35px;
}
.footer .footer__about .footer__about_link img {
  padding-right: 10px;
}
.footer .footer__contact {
  min-width: 320px;
  width: 50%;
  box-sizing: border-box;
  padding: 30px 10px;
}
.footer .footer__contact ul {
  width: 100%;
}
.footer .footer__contact ul li {
  display: block;
  float: left;
  width: 50%;
  height: 70px;
  box-sizing: border-box;
}
.footer .footer__contact ul li:last-child img {
  margin: 0 10px 0 0;
}
.footer .footer__contact ul img {
  display: block;
  float: left;
  margin: 5px 10px 0 0;
}
.copyright {
  background: #5363d8;
  text-align: center;
  color: #b7bffc;
  font-size: 16px;
  font-family: 'OpenSans-Regular';
  width: 100%;
  height: 100px;
}
